{% extends 'base.html' %}

{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

<div id="welcome">
    <div class="container d-flex flex-column align-items-center">
        <div id="procedure"></div>
        <h1 class="text-white text-lg-center">
            Convenient and affordable therapy<br> with <div style="color:#a6de9b; display: inline-block; font-size: 2.3rem;">Help Center</div>
        </h1>
        <p class="text-white text-lg-center" style="margin: 40px 0;">
            Help Center will match you to one of 32,000 licensed<br> therapists based upon your location, preferences, and <br>therapist availability.
        </p>

        <div id="questionnaire">
            <div id="questionnaire-match">
                Help us match you to the right therapist.
            </div>
            <form id="custom-form">
                <div id="question">
                    What type of therapy are you looking for ?
                </div>
                <div class="questionnaire-option">
                    Individual (for myself)
                </div>
                <div class="questionnaire-option">
                    Couples (for myself and my partner)
                </div>
                <div class="questionnaire-option">
                    Teen (for my child)
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}
