*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-underline-offset: 0.5rem;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
h1{
    font-family: Overpass, sans-serif;
}

#custom-nav-bar{
    background-color: #325343;

    color: white;
    font-family: Overpass, sans-serif;
    font-size: 1rem;

    padding: 5px 20px;

    position: sticky;
}

.custom-nav-item-pill{
    background-color: transparent;

    border-radius: 20px;
    border: 1px solid white;

    margin: 5px 10px;
    padding: 0 5px;

    color: white !important;
}

.custom-nav-item-pill:hover{
    color: greenyellow !important;
    border-color: greenyellow;
}