#login-panel{
    width: 900px;
    height: 400px;

    margin: 50px;

    background-color: rgb(160,165,237);
    padding: 30px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-panel div input[type='email'], #login-panel div input[type='password']{
    width: 700px;
    padding: 10px 20px;
    
    border-radius: 15px;

    font-size: 1.5rem;
}

#login-panel button[type='submit']{
    background-color: rgb(87,93,173);

    border: 2px solid black;
    border-radius: 15px;

    font-size: 2rem;
    font-weight: bold;
    color: white;

    padding: 10px 40px;
    margin-top: 40px;
}