#meetings-frame{
    width: 100%;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.meeting{
    width: 400px;
    height: 350px;
    padding: 15px 25px;
    margin: 30px;

    border-radius: 15px;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
    font-weight: bold;
}

.meeting p{
    font-size: 1.3rem;
    font-weight: lighter;
}

.meeting-btn{
    padding: 10px 20px;
    background-color: rgb(87,93,173);

    border: none;
    border-radius: 10px;

    color: white;
    font-family: quicksand;
    font-size: 1.4rem;
    font-weight: bold;
}
.meeting-btn:hover{
    color: white;
}

/*      MODAL        */
.modal-content{
    min-width: fit-content;
    padding: 10px 20px;
}
.modal-header{
    min-width: 500px;
}
.modal-body, .modal-footer button{
    font-size: 1.4rem;
}
.modal-footer button{
    background-color: rgb(87,93,173); 
    color: white;
}