{% extends 'base.html' %}

{% load static %}

{% block css %} 
{% endblock %}

{% block navend %} 
    <li class="nav-item custom-nav-item-pill">
    <a class="nav-link active" href="{% url 'login' %}">Đăng Nhập</a>
    </li>
    <li class="nav-item custom-nav-item-pill">
    <a class="nav-link active" href="{% url 'signup' %}">Bắt đầu</a>
    </li>
{% endblock %}

{% block for_user %}
    <div class="dropdown-content">
        <a class="dropdown-item" href="{% url 'chat-room' %}">Trò chuyện</a>
        <a class="dropdown-item" href="{% url 'schedule' %}">Lịch trình</a>
        <a class="dropdown-item" href="{% url 'journal' %}">Nhật ký</a>
        <a class="dropdown-item" href="{% url 'practice-home' %}">Bài tập</a>
        <a class="dropdown-item" href="{% url 'goal' %}">Mục tiêu</a>
        <a class="dropdown-item" href="{% url 'forum' %}">Diễn đàn</a>
    </div>
{% endblock %}


{% block content %}

<div class="w-100 d-flex flex-column align-items-center">
  <h1 style="width: 100%; text-align: center; margin: 40px; font-weight: bold;">
    Hãy tìm kiếm sự trợ giúp ngay!
  </h1>
  <p style="width: 80%; text-align: left; margin: 0px 0; padding: 20px 50px; font-size: 1.7rem;">
    Nếu bạn hay người xung quanh đang trải qua khủng hoảng hoặc vấn đề liên quan đến tính mạng, trang thông tin này sẽ mang đến sự giúp đỡ kịp thời dành cho bạn.
  </p>

  <div class="d-flex justify-content-center align-items-center flex-column" 
  style="width: 70%; border-radius: 200px; background-color: rgb(187,173,255); margin: 40px 0; padding: 20px 30px;">
    <div class="d-flex justify-content-between align-items-center" style="font-size: 1.7rem; width: 70%; margin: 10px 0;">
      <p style="font-size: 1.6rem; font-weight: bold;">Đường dây nóng bảo vệ trẻ em</p>
      <p style="font-size: 1.6rem; font-weight: bold; color: white;">111</p>
    </div>
    <div class="d-flex justify-content-between align-items-center" style="font-size: 1.7rem; width: 70%; margin: 10px 0;">
      <p style="font-size: 1.6rem; font-weight: bold;">Yêu cầu trợ giúp và tìm kiếm cứu nạn trên toàn quốc</p>
      <p style="font-size: 1.6rem; font-weight: bold; color: white;">112</p>
    </div>
    <div class="d-flex justify-content-between align-items-center" style="font-size: 1.7rem; width: 70%; margin: 10px 0;">
      <p style="font-size: 1.6rem; font-weight: bold;">Lực lượng công an, cảnh sát liên quan đến an ninh trật tự</p>
      <p style="font-size: 1.6rem; font-weight: bold; color: white;">113</p>
    </div>
    <div class="d-flex justify-content-between align-items-center" style="font-size: 1.7rem; width: 70%; margin: 10px 0;">
      <p style="font-size: 1.6rem; font-weight: bold;">Cơ quan phòng cháy chữa cháy, và cứu nạn cứu hộ</p>
      <p style="font-size: 1.6rem; font-weight: bold; color: white;">114</p>
    </div>
    <div class="d-flex justify-content-between align-items-center" style="font-size: 1.7rem; width: 70%; margin: 10px 0;">
      <p style="font-size: 1.6rem; font-weight: bold;">Cấp cứu về y tế</p>
      <p style="font-size: 1.6rem; font-weight: bold; color: white;">115</p>
    </div>
  </div>
</div>

{% endblock %}


